.content {
    margin-top: 1rem; 
}

.igraph {
    font-size: 26px;
    color: #000000;
}

.margin-div {
    margin: 2rem 0;
}

.num {
    // font-size: 20px;
    color: #000000;
    text-align: right;
}

.url {
    // font-size: 16px;
    color: #9B9B9B;
    
}